<!DOCTYPE html>
<html ng-app="mblex">
	<head>
		<title>MBLexicon</title>
		<link rel="stylesheet" href="pure-min.css">
		<link rel="stylesheet" href="mblex.css">
		<script src="jquery.js"></script>
		<script src="angular.min.js"></script>
		<script src="mblex.js"></script>
	</head>
	<body ng-controller="mblSystem">
		<input ng-model="user.token" type="text">
		<div id="content">
			<div class="pure-g" id="connectionErrorContainer" ng-show="connectionError">
				<div class="pure-u-1" style="text-align: center">
					<h1>There was a problem :C</h1>
					<h3>{{connectionError}}</h3>
					<a href="javascript:void(0)" ng-click="clearConnectionError()" class="pure-button">Clear Error</a>
				</div>
			</div>
			<div class="animated" id="signInContainer">
				<div class="loginContent">
					<h2 style="text-align: center;">Test</h2>
					<div id="loginErrors" class="errorContent"></div>
					<form class="pure-form pure-form-stacked" method="post" id="loginUser" ng-submit="login()">
						<fieldset>
							<input id="user" type="text" placeholder="User" name="username" class="pure-u-1" ng-model="user.username">
							<input id="password" type="password" placeholder="Password" name="password" class="pure-u-1">

							<button type="submit" class="pure-button pure-button-primary pure-u-1">Sign in</button>
						</fieldset>
					</form>
					<div id="registerErrors" class="errorContent"></div>
					<a id="signup-stripInvalid" class="pure-button pure-button-small hide" href="javascript:void(0)">Remove invalid characters</a>
					<form class="pure-form pure-form-stacked" method="post" id="registerUser" ng-submit="signup()">
						<fieldset>
							<input id="newUser" type="text" placeholder="User" name='username' class="pure-u-1">
							<input id="newPassword" type="password" name="password" placeholder="Password" class="pure-u-1">
							<input id="confirmPassword" type="password" name="confirmPassword" placeholder="Confirm Password" class="pure-u-1">

							<button type="submit" class="pure-button pure-button-primary pure-u-1">Register</button>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
		<div id="footer">
			MBLexicon &Alpha;lpha API BY <a href="http://awkwardhero.com">JAMIE CRISMAN</a>
		</div>
	</body>
</html>