body{
	background-color: #ddd;
}

.errorContent{
	color: red;
	display: none;
}
.show{
	display: inherit;
}
.hide{
	display: none;
}
#footer{
	width: 100%;
	color: #999;
	font-size: 12px;
	text-align: center;
}
#footer a{
	color: #99f;
	text-decoration: none;
}
#content{
	margin: 0 auto;
	padding: 5px;
}
#footer a:hover{
	color: #55a;
}
.sectionHeader{
	text-align: center;
}
.loginContent{
	background-color: rgba(255,255,255, 0.8);
	padding: 10px;
	text-align:center;
	width: 250px;
	margin: 0 auto;
}
#signInContainer{
	width: 100%;
	position: absolute;

}
#signInContainer input{
	max-width: 250px;
}
.simpleMenuContainer{
	margin: 0 auto;	
	width: 250px;
	padding: 5px;
}
.card{
	padding: 8px;
	width: 100%;
	margin: 5px 0;
	border: 1px solid #dedede;
	box-shadow:0 1px 2px #aaa;
	background:white;
	margin:0 1rem 1rem;
	border-radius:3px;
}

.wordLine .wordHeader .wordName{
	font-weight: bold;
	font-size: 32px;
}
.wordLine .wordExplanation{
	font-style: italic;
}

.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
	background: rgb(28, 184, 65); /* this is a green */
}

.pure-button-error {
	background: rgb(202, 60, 60); /* this is a maroon */
}

.pure-button-warning {
	background: rgb(223, 117, 20); /* this is an orange */
}

.pure-button-secondary {
	background: rgb(66, 184, 221); /* this is a light blue */
}