body{
	background-color: #ddd;
}

.errorContent{
	color: red;
	display: none;
}
.show{
	display: inherit;
}
.hide{
	display: none;
}
#footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	color: #aaa;
	font-size: 12px;
	text-align: center;
	background-color: rgba(255,255,255, 0.2);
}
#footer a{
	color: #99f;
	text-decoration: none;
}
#content{
	margin: 0 auto;
	padding: 5px;
}
#footer a:hover{
	color: #55a;
}
.sectionHeader{
	text-align: center;
}
.loginContent{
	background-color: rgba(255,255,255, 0.8);
	padding: 10px;
	text-align:center;
	width: 250px;
	margin: 0 auto;
}
#signInContainer{
	width: 100%;
	position: absolute;

}
#signInContainer input{
	max-width: 250px;
}
.simpleMenuContainer{
	margin: 0 auto;	
	width: 250px;
	padding: 5px;
}
.card{
	padding: 8px;
	width: 100%;
	margin: 5px 0;
	border: 1px solid #dedede;
	box-shadow:0 1px 2px #aaa;
	background:white;
	margin:0 1rem 1rem;
	border-radius:3px;
}

.wordLine .wordHeader .wordName{
	font-weight: bold;
	font-size: 32px;
}
.wordLine .wordExplanation{
	font-style: italic;
}